% rebase('base.html', title='Home', heading='Guestbook')

<div class="app-menu">

  <a href="/write" class="btn btn-primary btn-lg btn-block">
    <i class="glyphicon glyphicon-pencil pull-left"></i>
    Leave a message
  </a>
  <a href="/messages" class="btn btn-default btn-lg btn-block">
    <i class="glyphicon glyphicon-envelope pull-left"></i>
    View messages
  </a>
  <a href="/stats" class="btn btn-default btn-lg btn-block">
    <i class="glyphicon glyphicon-question-sign pull-left"></i>
    Statistics
  </a>

</div>
