% rebase('base.html', title='Home', heading='Guestbook')

<div class="app-menu">

  <form method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Message Title">
    </div>
    <div class="form-group">
      <label for="author">Name</label>
      <input type="text" class="form-control" id="author" name="author" placeholder="Your name">
    </div>
    <div class="form-group">
      <label for="text">Message</label>
      <textarea class="form-control" id="text" name="text" rows="8">
      </textarea>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="private"> Private message
      </label>
    </div>

    <div class="pull-right">
      <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-send"></i>
        Send
      </button>
    </div>
  </form>
</div>
